main {
    /* Ancho del contenido (toda la pantalla) */
    width: 100%;
    /* Alto del contenido (auto) */
    height: auto;
    /* Margen superior para separar de la barra de navegación */
    margin-top: 50px;
  }
  /* Estilos para el body */
  body {
    /* Eliminar margen por defecto del body */
    margin: 0;
    /* Eliminar padding por defecto del body */
    padding: 0;
   background-color: #f5f4f2;
  }

  .left-container {
    width: 45%; /* Ancho del contenedor, ajusta según sea necesario */
    margin-left: 20px; /* Margen izquierdo, ajusta según sea necesario */
    margin-bottom: 90px; /* Margen inferior, ajusta según sea necesario */
    padding: 20px; /* Relleno, ajusta según sea necesario */
    border: 1px solid #ccc; /* Borde, ajusta según sea necesario */
    background-color: #a8ced6;
    height: 220px;
      /* Borde suave */
      border-radius: 10px;
      /* Sombra para dar profundidad */
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
      /* Agregar texto de introducción */
      font-size: 24px;
      font-weight: bold;
      text-align: center;
  }
  .right-image {
    float: right; /* Hacer que la imagen flote a la derecha */
    width: 40%; /* Ancho de la imagen, ajusta según sea necesario */
    margin-right: 20px; /* Margen derecho, ajusta según sea necesario */
    margin-top: 20px; /* Margen superior, ajusta según sea necesario */
    position: relative;
    top: -1340px;
  }
  
  .right-image img {
    width: 100%; /* Hacer que la imagen ocupe el ancho completo del contenedor */
    height: auto; /* Mantener la relación de aspecto de la imagen */ 
  }
  .icon {
    font-size: 35px; /* Aumenta el tamaño del ícono */
    position: relative; /* Permite mover el ícono */
    cursor: pointer; /* Cambia el cursor al pasar sobre el ícono */
    top: 10px; /* Mueve el ícono hacia abajo */
    left: 165px;
  }
  .planeticon {
    position: relative;
    top: 10px;
    left:65px;
   }